/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY*/
body {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #1a1612;
    font-family: Georgia, serif;
    color: #b8860b;
}

/* MAIN-CONTAINER */
.app-card {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    background: #4a3d33;
    border: 3px solid #261e18;
    border-radius: 15px;
}

/* HEADER */
.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 20px;
    width: 100%;
}

.app-header img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    border: 2px solid #261e18;
    box-shadow: 0 4px 8px #00000080;
    object-fit: cover;
    flex-shrink: 0;
}

.app-title {
    max-width: 100%;
    font-size: 55px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.5px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.header2 {
    text-align: center;
    color: #b8860b;
    font-family: Georgia, serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-variant: small-caps;
}


/* Info Text Main Page */
.menu-instruction {
    text-align: center;
    color: #b8860b;              /* Euer originales Hobbit-Gold */
    font-size: 24px;             /* Angenehme, dezente Textgröße */
    font-style: italic;          /* Kursiv, damit es wie eine Anleitung wirkt */
    margin-bottom: 20px;         /* Abstand nach unten zur Liste */
    letter-spacing: 0.5px;       /* Leicht auseinandergezogene Buchstaben */
    font-variant: small-caps;    /* Kapitälchen, passend zum Rest des Designs */
}

/* BUTTONS */
.hobbit-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hobbit-list li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hobbit-list img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #261e18;
    object-fit: cover;
}

/* BUTTON STYLING */
.hobbit-list li a {
    background-color: #5f5145;
    border: 2px solid #000;
    color: #b8860b;
    text-decoration: none;
    padding: 15px 40px;
    flex: 1;
    text-align: center;
    transform: skewX(-20deg);
    display: block;
    transition: 0.3s ease;
    font-size: 20px;
    font-weight: bold;
}

.hobbit-list li a:hover {
    background: #261e18;
    color: #ffffff;
    transform: skewX(-20deg) scale(1.02);
}

.hobbit-list li a span {
    display: inline-block;
    transform: skewX(20deg);
    text-transform: uppercase;
    font-variant: small-caps;
}

/* FOOTER */
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #000000;
    position: static;
}
